
// ========================= Explore =============================

.explore {
  height: 100%
}

.genre-nav {
  display: flex;
  list-style: none;
  color: #4A4A4A;
  background-color: #DDE4E6;
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
  justify-content: center;
}

.genre-nav li:hover {
  color: #2d2d11;
  box-shadow: inset 0 -2px 0 #A6D2A5;
  transition: all .2s ease-in-out;
}

.genre-nav li {
  padding: 11px;
  padding-right: 50px;
  padding-left: 50px;
  border-right: 1px solid lightgrey;
}

.genre-nav li a {
  color: #4A4A4A;
}

.songs-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  flex-wrap: wrap;
  width: 100%;
}

//fixing last row problem with songs
.songs-list:after {
  content: "";
  flex: auto;
}

.songs-list li {
  border: 1px solid #e3e3e3;
  padding: 10px;
  margin-top: 30px;
  height: 140px;
  width: 220px;
  margin-right: 37px;
  margin-left: 30px;
  position: relative;
}

.song-img {
  width: 200px;
  height: 85px;
  background: no-repeat;
  background-position: center;
}

.song-img i {
  //width: 200px;
  //height: 85px;

  //display: none;
}

.song-img span {
  width: 200px;
  height: 85px;
  display: block;
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  line-height: 83px;
  opacity: 0;
  &:hover {
    background-color: rgba(0, 0, 0,0.7);
    opacity: 1;
  }
  &:hover i {
    display: block;
  }
}

.song-img .is-playing {
  background-color: rgba(0, 0, 0,0.7);
  opacity: 1;
}

.span-song-name {
  font-size: 11px;
  color: #4A4A4A;
}

.span-song-duration {
  font-size: 10px;
  color: #4A4A4A;
  margin-left: 5px;
}

.clock-font {
  font-size: 10px;
  color: #4A4A4A;
}

.prev-btn {
  background: #2196F3;
  border-radius: 2px;
  width: 87px;
  height: 30px;
  margin-right: 80px;
  border: none;
  font-family: Roboto-Medium;
  font-size: 13px;
  color: #FFFFFF;
}

.next-btn {
  background: #2196F3;
  border-radius: 2px;
  width: 87px;
  height: 30px;
  margin-left: 80px;
  border: none;
  font-family: Roboto-Medium;
  font-size: 13px;
  color: #FFFFFF;
}

.page-nav-div {
  display: flex;
  bottom: 75px;
  width: 100%;
  justify-content: center;
  align-content: center;
}
